header {
    background-color: yellow;
}

.info {
    background-color: red;
    color: cornsilk;
    text-align: center;
    width: 500px;
    margin: 0 auto;
}

h3 {
    text-align: center;
    background-color: darkblue;
    color:darkgray;
    width: 500px;
    margin: 0 auto;
}

#whole {
    border: 2px solid black;
    border-
    border-height: 
}

img {
    max-width: 500px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    border: 2px solid darkblue;
  }

#image {
      text-align: center;
  }
